.EditMyPageDiv1 {
    margin-left : 20px;
}

.SecondDividerWrapper1{
    margin-top: 20px;
    position: relative;
}

.SecondDividerWrapper1::after{
    content: '';
    position: absolute;
    width: 98%;
    height: 2px;
    background-color: var(--line-color, #000);
}

.SecondDividerWrapper2{
    margin-top: 20px;
    position: relative;
}

.SecondDividerWrapper2::after{
    content: '';
    position: absolute;
    width: 98%;
    height: 2px;
    background-color: var(--line-color, #000);
}

.input1Form{
    grid-area: contents1;
    margin-top : 10px;
    display : grid;
    grid-template :
    'input2 btn1'100px
    'text text' 1fr/ 400px 120px;                                      
}

.input2{
    grid-area: contents3;
    margin-top: 20px;  /* input2를 contents3에 배치 */
}

.input3{
    grid-area: contents2;
    margin-top: 13px;
}

